body {
	background-color:#FFF;
}

#storbox {
	background-color:#FFF;
	width: 65%;
	height: 98%;
	position:absolute;
	margin-left: 17.5%;
	background-color:#00F;
}

header {
	width: 100%;
	height: 20%;
	font-variant:small-caps;
    font-size:36px;
	text-align:center;
	font-family:"Comic Sans MS", cursive;
	background-color:#000;
	border-bottom:solid 2px #FFF;
}

ul {
	list-style:none;
	padding: 0;
	margin: 0;
}

li {
	line-height: 500%;
	height: 100%;
	width: 33%;
	float:left;
}

.menylink:link {
	text-decoration:none;
	color:#007FE5;
	font-size:100%;
}

.menylink:visited {
	text-decoration:none;
	color:#007FE5;
	font-size:100%;
}

.menylink:active {
	text-decoration:none;
	color:#004277;
	font-size:100%;
}

.menylink:hover {
	text-decoration:underline;
	color:#0062B3;
	font-size:100%;
}

.fil:link {
	text-decoration:none;
	color:#007FE5;
	font-size:34px;
}

.fil:visited {
	text-decoration:none;
	color:#007FE5;
	font-size:34px%;
}

.fil:active {
	text-decoration:none;
	color:#004277;
	font-size:34px%;
}

.fil:hover {
	text-decoration:underline;
	color:004277;
	font-size:38px;
}

article {
	background-color:#666;
	width: 100%;
	height: 80%;
	float:left;
	text-align:center;
}